#title {
    
    background-color: cadetblue;
    text-align :center;
    
}
.centrado{
    display: block;
    margin-left: 100;
    margin-right: 100;
}

body{
    display: block;
    background-image: url(img/fondo2.jpg);
    background-size: cover;
    z-index: -2;
}

.toolBar{
    background-color: transparent;
    width: 200px;
    height: 300px;
    margin: 10px 20px 10px 3px;
    
}

.lienzo{

    background-color: transparent;
    position:absolute;
    left: 215px;
    right: 20px;
    top:80px;
   

}

.postit{
    
    background-color: green;
    height: 350px;
}


 
.backgroundLienzo {

    background-color: #b36a6a;
    position: fixed;
    left: 215px;
    right: 20px;
    top:80px;
    bottom: 20px;
    padding: 10px;
    margin: 0px 0px 10px 0px;
    z-index: -1;
    opacity: .5;
}
.backgroundToolBar {

    background-color: #4c889b;
    position: fixed;
    left: 6px;
    right: 400px;
    top:80px;
    bottom: 20px;
    padding: 10px;
    margin: 0px 0px 10px 0px;
    z-index: -1;
    opacity: .5;
}
 
.trans {
    opacity: 1;
}